
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome.scss";

//auth nav
.auth-container {
    margin-right:0px; 
    width:100%;
}

//app
.app-content {
    width: 100%;
    min-height: 450px;
    padding: 50px;
}


//footer
$footer-bg: rgb(51, 103, 214);

footer {
    width: 100%;
    background-color: $footer-bg;
    color: white;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    
    border-bottom: 10px solid $footer-bg;
    -webkit-box-shadow: 0px 80px 0px 0px $footer-bg;
    -moz-box-shadow: 0px 80px 0px 0px $footer-bg;
    box-shadow: 0px 80px 0px 0px $footer-bg;
}
