<template>
    <div class="container">
        <!-- Search -->
        <div class="row">
            <div class="col-md-6">
                <div class="container card p-3">
                    <h3>Enter your search credentials:</h3>

                    <!-- Search Text -->
                    <div class="form-group">
                        <label>Search Text:</label>
                        <input v-model="query" type="text" class="form-control" placeholder="Enter your search query">
                    </div>
                    <!-- Dropdown -->
                    <div class="form-group">
                        <label>Search Radius: <span v-if="!locationFound">(Allow location services for more options)</span></label>
                        <select v-model="radius" class="form-control">
                          <option v-if="locationFound" value="1">1km</option>
                          <option v-if="locationFound" value="2">2km</option>
                          <option v-if="locationFound" value="5">5km</option>
                          <option v-if="locationFound" value="10">10km</option>
                          <option v-if="locationFound" value="25">25km</option>
                          <option v-if="locationFound" value="50">50km</option>
                          <option v-if="locationFound" value="100">100km</option>
                          <option value="-1" selected>anywhere</option>
                        </select>
                    </div>
                    <!-- Submit -->
                    <button @click="onSearchClick" type="submit" class="btn btn-primary mb-2">Search</button>

                </div>
            </div>
        </div>
        <!-- Results -->
        <div class="row container" v-if="this.data != null">
            <div class="col-6 pt-5">
                <h4><u>Services Found:</u></h4>
            </div>
        </div>
        <div v-if="noResults" class="jumbotron mt-5">
            <h3 class="display-6">No Results.</h3>
            <p class="lead">There are no services, select "Add a new service" to create one.</p>
        </div>
        <div v-for="service in data" class="card p-3 mt-3">
            <div class="row container">
               <div class="col-md-1">
                    <strong>ID:</strong><br>
                    {{service.id}}
                </div>
                <div class="col-md-4">
                    <strong>Title:</strong><br>
                    {{service.title}}
                </div>
                <div class="col-md-7">
                    <strong>Description:</strong><br>
                    {{service.description}}
                </div>
                <!-- HR -->
                <div class="col-12"><hr></div>
                <!-- /HR -->
                <div class="col-md-3">
                    <strong>Address:</strong><br>
                    {{service.address}}
                </div>
                <div class="col-md-2">
                    <strong>City:</strong><br>
                    {{service.city}}
                </div>
                <div class="col-md-2">
                    <strong>State:</strong><br>
                    {{service.state}}
                </div>
                <div class="col-md-1">
                    <strong>Zip Code:</strong><br>
                    {{service.zipcode}}
                </div>
                <div class="col-md-2">
                    <strong>Latitude:</strong><br>
                    {{service.geo_lat}}
                </div>
                <div class="col-md-2">
                    <strong>Longitude:</strong><br>
                    {{service.geo_long}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(this.getPosition);
              } else {
                alert("Geolocation is not supported by this browser.");
              }
        },
        data() {
            return {
                query: '',
                radius: -1,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                data: null,
                noResults: false,
                geoLat: null,
                geoLong: null,
                locationFound: false
            }
        },
        methods: {
            onSearchClick() {
                var self = this;
                
                $.ajax({
                    type: "POST",
                    url: '/',
                    data: { 
                        radius:self.radius, 
                        title:self.query, 
                        _token:self.csrf, 
                        locationFound:self.locationFound, 
                        geoLat:self.geoLat,
                        geoLong:self.geoLong
                    },
                    success: function(response) {
                        console.log(response);
                        if (self.isEmpty(response.data)) self.noResults = true;
                        else self.noResults = false;
                        self.data = response.data;
                    }
                });
            },
            isEmpty(obj) {
                for(var key in obj) {
                    if(obj.hasOwnProperty(key))
                        return false;
                }
                return true;
            },
            getPosition(position) {
                this.geoLat = position.coords.latitude;
                this.geoLong = position.coords.longitude;
                this.locationFound = true;
            }
        }
    }
</script>
